export CLUSTER_NAME=openfaas
export OPENFAAS_NAMESPACE=openfaas
export FUNCTION_NAMESPACE=openfaas-fn
export OPENFAAS_GATEWAY=http://127.0.0.1:8080
export ARTIFACT_KEY=artifact:profile-fn:v1
export REDIS_NAMESPACE=jit-system

# Change these before build/push
export IMAGE_REPO=docker.io/YOUR_USERNAME
export FUNCTION_IMAGE_NAME=profile-fn
export FUNCTION_IMAGE_TAG=latest

# Derived
export FUNCTION_IMAGE=${IMAGE_REPO}/${FUNCTION_IMAGE_NAME}:${FUNCTION_IMAGE_TAG}

# Repos
export OPENFAAS_SETUP_REPO=https://github.com/ucla-progsoftsys/openfaas-setup
export GEORGE_JDK_REPO=https://github.com/ucla-progsoftsys/jdk25u
export GEORGE_JDK_BRANCH=ggz/profiles-2

# JDK build
export GEORGE_WORKDIR=$PWD/work/jdk25u
export GEORGE_BUILD_OUT=$PWD/work/george-jdk
export BOOT_JAVA_HOME=${BOOT_JAVA_HOME:-}

# Optional if you want to force specific configure args
export GEORGE_CONFIGURE_ARGS=${GEORGE_CONFIGURE_ARGS:-}
